include lib

doctype html
html(ng-app='exam')
  head
    meta(charset='UTF-8')
    title= lang.title
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/index.min.css')
  body.metro
    .container
      block body
      p.text-center &copy; &nbsp;
        a(href='https://github.com/weirongxu') Raidou
    script(src='assets/js/jquery-1.9.1.min.js')
    script(src='assets/js/angular.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='data/data.js')
    script(src='assets/js/lodash.compat.min.js')
    script(src='assets/js/index.min.js')
